:root{
    --two-thirds: calc(100% * 2 / 3);
    --one-third: calc(100% /3);
}
*{
    /* Set all text font-size to 1% 
    of the view port hieigh and width.
    This allows the text to grow/shring with the window size*/
    font-size: 2vh;
    font-size: 2vw;
    background-color:transparent;
    padding: 5px;
    margin: 5px;
   
    
}
body{
    background-color: lightgray;
}


.nav-contact-header{
    
    color:lightgrey;
    min-height: 300px;
    align-items: center; /* used to center text */ 
    
    
    background-image: url("../images/golden-gate_wallpaper.jpg");
    background-size: cover; /* fixes image to bring it to the front, and size cropping issues */
    background-position: center; /* used to center image*/
    
}
.nav-contact-header ul{
    list-style: none; /* remove bullets from list */
}

.flex-wrap{
     /* turn on flex */
     display:flex; 
     flex-wrap: wrap;/* Allows elements to flex to the next line  */

     
}


.flex-split{
    /* Force two divs to split left and right justified relative to eachother */
    justify-content: space-between;
}

.contact-info ul::first-line {
    font-weight: bold;
    
}

.main-right {
    
    display:flex;
    align-items: flex-start; /* Flex items in upper left corner, and then wrap*/
    flex-direction: column; /* Force the wrap in a up/down direction */
    border-left: solid 2px black;
    
    
    
}

.main-right h2{
    border-top: solid 1px;
    border-width: 100%;
}
.education-degree{
    width: 100%; /* fix a spacing wrap issue, so the text takess up the entire width instead of wrapping to the next line right away*/
    
}




.main-grid-container{
    /* Lays out the main page structure two have one left main
    section and then one right main section side by side*/
    display: grid;
    /* 2fr is a fraction unit
    3fr 1fr : create two columns where one column is three times the size of the other */
    grid-template-columns:  3fr 1fr; /* col: up/down*/
    /* let the browser determine the row size*/
    grid-template-rows: auto;  /* row: left/ right */
}



.left-sub-grid-container{
    /* Used to nest another grid in its parent grid. This allows another grid with two rows side by side to be neested in an aditional grid cell*/
    display: grid;
    
    grid-template-columns: 50% 50%; /* row: left/right */
    grid-template-rows: auto;  /* row: left/right */
    
}

footer{
    height: 100px;
}


.bio-img img {
    /* settign width & height to 90%% in a CSS grid allows
    an image to flex and grow/shrink as page is resized */
    width: 90%;
    height: 90%;
    
    
}


.flex-container-portfolio div{
    /* set portfolio container size and allow the pictures to grow when the window is resized */
    height: 40vh;
    flex-grow: 1;
    
}

.flex-container-portfolio img {
    /* allow a picture to grow to 90% of the size of the div it is nested in. */
    height: 90%;
    width: 90%;
     
}

.portfolio-section{
    border-top: 1px solid black;
}
.flex-container-portfolio div:first-child{
    /* make the first portfolio section/image the largest of all the other pictures. */
    min-width:100%;
    opacity: 80%;
    
}

footer{
    border-top: 1px solid black;
}
.flex-row-horizontal{
    /* make a list of tags have even spaccing between them ina horizontal direction*/
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.alternate-education{
    /* hide an alternate html section that should not be rendered, unless you are on a small mobile device.*/
    visibility: hidden;
}
@media screen and (max-width:575px) {
    .main-right{
        /* hide the Education and Html section when on a small mobile device. This preps the page to reformat, and reveal the alternate html code. */
        visibility:hidden;
        
    }
    *{
        /* fix some rendering issues where tags do not take 100% of its available width*/
        width: 100%;
    }
    .main-grid-container{
        /* Center most of the website text, when on a small device*/
        text-align: center;
    }

    .nav-contact-header{
        /* arbitrary set some nav size settings so they are more appealing when rendered.*/
        min-height: 90%;
        min-width: 375px;
        
    }
    .alternate-education{
        /* Unhide the alternate html code*/
        visibility: visible;
        
    }
    .alternate-education {
        
        border-top: 1px black solid;
        padding: 5px;
        margin: 5;
    }
    
}

/* disable link auto coloring/formatting, because it does render well with my color theme. */
 a:visited {
    color: inherit;
    text-decoration: none;
   }